/* #sw {
  width: 100%;
  height: 100%;
} */
.swiper-pagination {
  position: absolute;
  top: -8px !important;
}
.swiper-pagination-bullet {
  width: 50px;
  height: 5px;
  border-radius: 0px !important;
}
.swiper-pagination-bullet-active {
  width: 50px;
  height: 5px;
  border-radius: 0px !important;
  background-color: #dab503;
}
#sww {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.autoplay-progress {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #5ff550;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #5ff550;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
